.news{
    padding-block: 100px;
    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 24px;
    }
}