.blockHelper {
  &__item {
    height: 55px;
    display: flex;
    align-items: center;
    width: 490px;
    padding: 16px 22px;
    gap: 20px;
    background-color: var(--color-white);

    .blockIcon {
      svg {
        color: #00c0e8;
      }
    }

    .blockText {
      text-align: left;

      letter-spacing: 0.6px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
