.catalog {
  &__head {
    position: relative;
    padding-block: 35px 95px;
    background-image: url("./image/bgCatalog.svg");

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      background-color: #000;
      opacity: 0.4;
    }

    &-container {
      position: relative;
      z-index: 2;

      .breadcrumb {
        color: var(--color-white);
      }

      .catalog__head-title {
        margin-top: 35px;
        font-weight: 600;
        color: var(--color-white);
      }
    }
  }

  &__content {
    margin-block: 63px;
    display: flex;
    gap: 57px;

    &-aside {
      width: 378px;
      min-height: 64px;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.18);
    }

    &-info {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.18);
      flex: 1;

      .content {
        padding: 22px;
      }
    }
  }
}
