.buttonAside {
  height: 64px;
  width: 100%;

  &:hover {
    .buttonAside__name {
      color: var(--color-lightBlue);
    }
  }

  &__name {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding-block: 22px;
    padding-inline: 22px;

    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #000;

    transition: .2s;

    .chevron{
      transition: .3s;
    }
  }
}
