.helper {
  background-color: #f2f8fd;
  padding-block: 90px;

  &__content {
    height: 415px;
    margin-top: 35px;
    gap: 35px;
    display: flex;
    justify-content: space-between;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;

      height: 100%;
      padding-right: 5px;
      overflow-y: scroll;
    }

    &-info {
      max-width: 585px;

      .descInfo {
        margin-top: 25px;
      }
    }
  }
  
  @media screen and (max-width: 1170px) {
    &__content {
      flex-direction: column;

      &-list{
        width: 100%;
      }
    }
  }
}
