@import "./global.css";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  margin-top: 107px;
}

@media screen and (max-width: 992px) {
  .main {
    margin-top: 60px;
  }
}
@media screen and (max-width: 650px) {
  .main {
    margin-top: 100px;
  }
  
}
.end {
  margin-top: 1000px;
}
