@import "normalize.css";
@import "./fonts.css";
@import "./variable.css";

* {
  margin: 0;
  padding: 0;
  border: none;
  background-color: none;
  list-style: none;

  font-family: "Montserrat";
}

h1 {
  font-family: Montserrat;

  margin: 0;
  padding: 0;
}

.title {
  font-family: Montserrat;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
}

select {
  background: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}
