.hero {
  height: 100vh;

  .hero__title {
    color: var(--color-white);
  }

  .bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}
