.hero {
  height: 100vh;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background: linear-gradient(
      0deg,
      rgba(0, 33, 122, 0) 0%,
      rgba(0, 7, 44, 0.7) 100%
    );
  }

  &__content {
    position: relative;
    z-index: 2;
    margin-top: 155px;

    .hero__title {
      color: var(--color-white);
    }

    &-nav {
      margin-top: 120px;

      .title-section {
        color: var(--color-white);
      }

      .hero__ul {
        margin-top: 22px;
        display: inline-flex;
        flex-direction: column;
        gap: 15px;

        .item-hero {
          color: white;
          display: flex;

          a {
            display: inline-block;
            align-items: center;
            color: white;
            text-decoration: underline;

            font-size: 20px;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .hero__content-nav {
      .hero__ul {
        .item-hero {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .hero__content-nav {
      margin-top: 90px;
    }
  }
}
