.page-news {
  margin-block: 60px;
  flex: 1;
  color: black;

  &__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;

    margin-top: 20px;
  }
}
