.page-news {
  padding-block: 107px;
  flex: 1;
  color: black;

  &__content {
    margin-top: 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;

    margin-top: 20px;
  }
}
