.titleInvest{
    font-weight: 600;

    line-height: 30px;
    color: #000000;
}

@media screen and (max-width: 650px) {
    .titleInvest{
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
       .titleInvest{
        font-size: 15px;
    }
}