.BigImg {
  position: relative;
  max-width: 570px;
  height: 305px;
  overflow: hidden;

  border-radius: 5px;

  .news-info {
    position: absolute;
    padding: 20px;
    bottom: 0;
    z-index: 2;
  }

  .news-image {
    img {
      transition: all 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 100%
      );
      z-index: 1;
    }
  }

  .news-title {
    font-size: 14px;
    font-weight: 600;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;

    margin-bottom: 8px;
    color: var(--color-white);
  }

  .news-date {
    font-size: 14px;
    color: var(--color-gray);
  }

  cursor: pointer;

  &:hover {
    .news-image img {
      transform: scale(1.05);
    }
  }
}

.SmallImg {
  max-width: 270px;
  border-radius: 5px;

  overflow: hidden;

  .news-image {
    object-fit: cover;

    img {
      transition: all 0.5s;
      width: 100%;
      height: 160px;
    }
  }

  .news-info {
    margin-top: 8px;
  }

  .news-date {
    font-size: 14px;
    color: var(--color-gray);
  }

  .news-title {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
  }

  &:hover {
    .news-image img {
      transform: scale(1.05);
    }
  }
}
