.BigImg {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 435px;
  border-radius: 5px;

  cursor: pointer;

  .news-info {
    position: absolute;
    padding: 20px;
    bottom: 0;
    z-index: 2;
  }

  .news-image {
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7) 100%
      );
      z-index: 1;
    }
  }

  .news-title {
    font-size: 20px;
    font-weight: 600;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;

    margin-bottom: 8px;
    color: var(--color-white);
  }

  .news-date {
    font-size: 18px;
    color: var(--color-gray);
  }

  &:hover {
    .news-image img {
      transform: scale(1.05);
    }
  }
}

.SmallImg {
  max-width: 100%;
  border-radius: 5px;

  overflow: hidden;

  .news-image {
    object-fit: cover;

    img {
      object-fit: cover;
      transition: all 0.5s;
      width: 100%;
      height: 160px;
    }
  }

  .news-info {
    margin-top: 8px;
  }

  .news-date {
    font-size: 14px;
    color: var(--color-gray);
  }

  .news-title {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
  }

  &:hover {
    .news-image img {
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 900px) {
  // .SmallImg {
  //   .news-image {
  //     max-width: 400px;

  //     img {
  //       width: 100%;
  //     }
  //   }
  // }
}

@media screen and (max-width: 650px) {
  .BigImg {
    height: 350px;

    .news-title {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 400px) {
  .BigImg {
    height: 250px;

    .news-title {
      font-size: 14px;
    }
  }

  .SmallImg {
    .news-title {
      font-size: 12px;
    }
  }
}
